@typeparam T

@if (Elements == null)
{
    <div class="col-4 offset-4 text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (Elements.Ok)
{
    if (Elements.Payload.Any())
    {
        @foreach (var element in Elements.Payload)
        {
            @ElementTemplate(element)
        }
    }
    else
    {
        <div class="col-4 offset-4 text-center">
            <div class="spinner-grow" role="status">
                <span class="sr-only">No elements</span>
            </div>
            <h3>No elements</h3>
        </div>
    }
};