<div class="individual-movie-container">
    <a href="#">
        <img src="@Movie.Image" alt="Image" class="movie-image" />
    </a>
    <p><a href="#">@Movie.TitleBrief</a></p>
    <a href="/movies/save/@Movie.Id" class="btn btn-primary">Edit</a>
</div>