@using BlazorTable

<div class="movies-container">
    @if (ShowGrid)
    {
        <Table TableItem="Movie" Items="MoviesResponse.Payload" PageSize="5">
            <Column TableItem="Movie" Title="Title" Field="@(x => x.Title)" Sortable="true" Filterable="true" Width="50%" />
            <Column TableItem="Movie" Title="ReleaseDate" Field="@(x => x.ReleaseDate)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="Movie" Title="Image" Sortable="false" Filterable="false" Width="10%">
                <Template>
                    <img src="@context.Image" alt="Image" style="@(ShowGrid ? "height:180px;" : "width:286px;")" />
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    }
    else
    {
        <GenericList Elements="MoviesResponse">
            <ElementTemplate>
                <SingleMovie Movie="context" ShowGrid="ShowGrid" />
            </ElementTemplate>
        </GenericList>
    }
</div>