@page "/"

<div>
    <h3>Movies</h3>

    <div class="float-right">
        <label>Show Grid</label>
        <label class="switch">
            <input type="checkbox" class="form-check-label" @onchange="HandleToogle" />
            <span class="slider round"></span>
        </label>

    </div>
    <div>
        <a href="/movies/save" class="btn btn-info">Create new movie</a>
    </div>

    <hr />
    <div>
        <MoviesList OnPageChange="@OnPageChange" MoviesResponse="_moviesResponse" ShowGrid="_showGrid" />
    </div>

</div>