@page "/movies/save"
@page "/movies/save/{Id:int}"


<h3>SaveMovie</h3>

<EditForm Model="SaveMovieRequest" OnSubmit="CreateMovie">
    <div class="col-md-3">
        <div class="form-group">
            <label>Title</label>
            <InputText type="text" class="form-control"
                       placeholder="Title" @bind-Value="SaveMovieRequest.Title" />
        </div>
        <div class="form-group">

            <InputDate type="text" class="form-control"
                       placeholder="Release Date" @bind-Value="SaveMovieRequest.ReleaseDate" />
        </div>
        <div class="form-group">

            <InputText type="text" class="form-control"
                       placeholder="Paste image url" @bind-Value="SaveMovieRequest.Image" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>
